# Visual Studio 관련 파일 및 폴더
.vs/
*.vcxproj.user
*.vcxproj.filters

# 빌드 출력 폴더
x64/
Debug/
Release/

# C++ 빌드 출력 파일
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.idb
*.log

# Windows 파일 시스템 관련
Thumbs.db
Desktop.ini

# 파이썬 가상 환경 (선택 사항)
venv/
